@media screen and (max-width: 1350px) {
  .progressBar--media--movPlay {
    top: 53%;
  }
}

@media screen and (max-width: 1096px) {
  .progressBar--media--movPlay {
    top: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .progressBar--media--movPlay {
    top: 47%;
  }
}

@media screen and (max-width: 510px) {
  .progressBar--media--movPlay {
    top: 55%;
  }
}

@media screen and (max-width: 400px) {
  .progressBar--media--movPlay {
    top: 49%;
  }
}

@media screen and (max-width: 370px) {
  .progressBar--media--movPlay {
    top: 58%;
  }
}
