@media screen and (max-width: 1096px) {
  .progressBar--media--serRate {
    top: 52%;
  }
}

@media screen and (max-width: 790px) {
  .progressBar--media--serRate {
    top: 45%;
  }
}

@media screen and (max-width: 510px) {
  .progressBar--media--serRate {
    top: 57%;
  }
}
