<div class="modal">
  <div class="modal__block">
    <div class="modal__head">
      <div class="modal__title">
        {{ trailerObj.title }} ({{ trailerObj.date | date: 'yyyy' }})
      </div>
      <div class="modal__close" (click)="close()">&#10006;</div>
    </div>
    <iframe
      class="modal__frame"
      [src]="trailerObj.url"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
