<div class="overview">
  <div class="loader" *ngIf="preLoader; else mainContent">
    <div class="dash uno"></div>
    <div class="dash dos"></div>
    <div class="dash tres"></div>
    <div class="dash cuatro"></div>
  </div>
  <ng-template #mainContent>
    <div
      class="overview__top"
      [ngStyle]="{'background-image': 'url(' + bgImgPath + ')'}"
      [@item]
    >
      <div class="container overview__topBlock">
        <img
          *ngIf="item.poster_path !== null; else alter"
          class="overview__poster"
          loading="lazy"
          src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
            item.poster_path
          }}"
          srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
            item.poster_path
          }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
            item.poster_path
          }} 2x"
        />
        <ng-template #alter>
          <img
            class="overview__poster"
            loading="lazy"
            src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
          />
        </ng-template>
        <div class="overview__information">
          <p class="overview__title">
            {{ item.title }} ({{ item.release_date | date: 'yyyy' }})
          </p>
          <div class="overview__infoPg">
            <span class="overview__date">
              {{ item.release_date | date }}
            </span>
            <p class="overview__dot"></p>
            <p class="overview__genre">
              {{ genres }}
            </p>
            <p class="overview__dot"></p>
            <p class="overview__age">
              {{ ageAccess }}
            </p>
            <p class="overview__dot"></p>
            <p>{{ item.runtime | myTime }}</p>
          </div>
          <div class="overview__rait">
            <div class="overview__rait--left">
              <div align="center" class="overview__progressBar">
                <circle-progress
                  [percent]="item.vote_average * 10"
                  [space]="-10"
                  [radius]="barValue"
                  [outerStrokeWidth]="outerStrokeWidth"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6232d'"
                  [innerStrokeColor]="'#fff'"
                  [animation]="true"
                  [animationDuration]="2000"
                  [titleFontSize]="titleFontSize"
                  [backgroundPadding]="1"
                  [unitsFontSize]="unitsFontSize"
                  [titleFontWeight]="'800'"
                ></circle-progress>
              </div>
              <p class="overview__raitText">movie rait</p>
            </div>
            <div class="overview__rait--right">
              <div class="overview__circlePlay" (click)="open(item.id)">
                <div
                  class="overview__circlePlay--play"
                  name="caret-forward-outline"
                ></div>
              </div>
              <div class="overview__watch">watch trailer</div>
            </div>
          </div>
          <p class="overview__slogan">{{ item.tagline }}</p>
          <p class="overview__heading">Overview</p>
          <p class="overview__overview">{{ item.overview }}</p>
          <button
            class="overview__button"
            [ngClass]="{
              overview__button__disabled: !this.favoriteService.btnExist
            }"
            [title]="
              !this.favoriteService.btnExist
                ? 'please, register in order to add'
                : 'add to favorite'
            "
            (click)="addFavorite(item.id)"
            [disabled]="!this.favoriteService.btnExist"
          >
            add to favorite
          </button>
        </div>
      </div>
    </div>
    <div class="overview__bottom">
      <div class="container">
        <h2 class="overview__castTitle">Cast</h2>
        <div class="overview__cast">
          <div
            class="overview__person"
            *ngFor="let e of cast"
            [routerLink]="['/personoverview', e.id]"
            [@item]
          >
            <img
              *ngIf="e.profile_path !== null; else alter"
              class="overview__castPoster"
              loading="lazy"
              src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                e.profile_path
              }}"
              srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                e.profile_path
              }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
                e.profile_path
              }} 2x"
            />
            <ng-template #alter>
              <img
                class="overview__castPoster"
                loading="lazy"
                src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
              />
            </ng-template>
            <p class="overview__originalName">{{ e.original_name }}</p>
            <p class="overview__originalName overview__originalName--character">
              {{ e.character }}
            </p>
          </div>
        </div>
        <h2 class="overview__castTitle">Similar movies</h2>
        <div class="overview__cast">
          <div
            class="overview__person"
            *ngFor="let element of similar"
            [routerLink]="
              element.title
                ? ['/movieoverview', element.id]
                : ['/seriesoverview', element.id]
            "
            [@item]
          >
            <img
              *ngIf="element.profile_path !== null; else alter"
              class="overview__castPoster"
              loading="lazy"
              src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                element.poster_path
              }}"
              srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                element.poster_path
              }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
                element.poster_path
              }} 2x"
            />
            <ng-template #alter>
              <img
                class="overview__castPoster"
                loading="lazy"
                src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
              />
            </ng-template>
            <p class="overview__originalName">
              {{ element.title || element.name }}
            </p>
            <p class="overview__originalName overview__originalName--character">
              {{ element.release_date || element.first_air_date | date }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="container">
        <p class="comments__amount">{{ commentsAmount }} comments</p>
        <div *ngFor="let comment of commentsArray"></div>
        <div class="comments__leave">
          <textarea></textarea>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-trailer *ngIf="modal" [@item]></app-trailer>
