<div class="overview">
  <div class="loader" *ngIf="preLoader; else mainContent">
    <div class="dash uno"></div>
    <div class="dash dos"></div>
    <div class="dash tres"></div>
    <div class="dash cuatro"></div>
  </div>
  <ng-template #mainContent>
    <div
      class="overview__top"
      [ngStyle]="{'background-image': 'url(' + bgImgPath + ')'}"
      [@item]
    >
      <div class="container overview__topBlock">
        <img
          *ngIf="item.poster_path !== null; else alter"
          class="overview__poster"
          loading="lazy"
          src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
            item.poster_path
          }}"
          srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
            item.poster_path
          }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
            item.poster_path
          }} 2x"
        />
        <ng-template #alter>
          <img
            class="overview__poster"
            loading="lazy"
            src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
          />
        </ng-template>
        <div class="overview__information">
          <p class="overview__title">
            {{ item.title || item.name }} ({{
              item.release_date || item.first_air_date | date: 'yyyy'
            }})
          </p>
          <div class="overview__infoPg">
            <span class="overview__date">
              {{ item.release_date || item.first_air_date | date }}
            </span>
            <p class="overview__dot"></p>
            <p class="overview__genre">
              {{ genres }}
            </p>
            <p *ngIf="ageAccess" class="overview__dot"></p>
            <p *ngIf="ageAccess" class="overview__age">
              {{ ageAccess }}
            </p>
            <p class="overview__dot" *ngIf="item.runtime"></p>
            <p *ngIf="item.runtime">{{ item.runtime | myTime }}</p>
          </div>
          <div class="overview__rait">
            <div class="overview__rait--left">
              <div align="center" class="overview__progressBar">
                <circle-progress
                  [percent]="item.vote_average * 10"
                  [space]="-10"
                  [radius]="barValue"
                  [outerStrokeWidth]="outerStrokeWidth"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#c6232d'"
                  [innerStrokeColor]="'#fff'"
                  [animation]="true"
                  [animationDuration]="2000"
                  [titleFontSize]="titleFontSize"
                  [backgroundPadding]="1"
                  [unitsFontSize]="unitsFontSize"
                  [titleFontWeight]="'800'"
                ></circle-progress>
              </div>
              <p class="overview__raitText">movie rait</p>
            </div>
            <div *ngIf="trailerExist" class="overview__rait--right">
              <div class="overview__circlePlay" (click)="open()">
                <div
                  class="overview__circlePlay--play"
                  name="caret-forward-outline"
                ></div>
              </div>
              <div class="overview__watch">watch trailer</div>
            </div>
          </div>
          <p class="overview__slogan">{{ item.tagline }}</p>
          <p class="overview__heading">Overview</p>
          <p class="overview__overview">{{ item.overview }}</p>
          <button
            class="overview__button"
            [title]="
              !(checkedIn$ | async)
                ? 'please, register in order to add'
                : 'add to favorite'
            "
            (click)="addFavorite(type, item.id)"
            [disabled]="!(checkedIn$ | async)"
          >
            add to favorite
          </button>
        </div>
      </div>
    </div>
    <div class="overview__bottom">
      <div class="container">
        <h2 class="overview__castTitle">Cast</h2>
        <div class="overview__cast">
          <div
            class="overview__person"
            *ngFor="let e of cast"
            [routerLink]="['/personoverview', e.id]"
            [@item]
          >
            <img
              *ngIf="e.profile_path !== null; else alter"
              class="overview__castPoster"
              loading="lazy"
              src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                e.profile_path
              }}"
              srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                e.profile_path
              }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
                e.profile_path
              }} 2x"
            />
            <ng-template #alter>
              <img
                class="overview__castPoster"
                loading="lazy"
                src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
              />
            </ng-template>
            <p class="overview__originalName">{{ e.original_name }}</p>
            <p class="overview__originalName overview__originalName--character">
              {{ e.character }}
            </p>
          </div>
        </div>
        <h2 class="overview__castTitle">Similar movies</h2>
        <div class="overview__cast">
          <div
            class="overview__person"
            *ngFor="let element of similar"
            [routerLink]="
              element.title
                ? ['/overview', 'movie', element.id]
                : ['/overview', 'tv', element.id]
            "
            [@item]
          >
            <img
              *ngIf="element.profile_path !== null; else alter"
              class="overview__castPoster"
              loading="lazy"
              src="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                element.poster_path
              }}"
              srcset="https://www.themoviedb.org/t/p/w220_and_h330_face{{
                element.poster_path
              }} 1x, https://www.themoviedb.org/t/p/w440_and_h660_face{{
                element.poster_path
              }} 2x"
            />
            <ng-template #alter>
              <img
                class="overview__castPoster"
                loading="lazy"
                src="https://st.depositphotos.com/2251265/2417/i/600/depositphotos_24176415-stock-photo-blank-poster-on-a-wood.jpg"
              />
            </ng-template>
            <p class="overview__originalName">
              {{ element.title || element.name }}
            </p>
            <p class="overview__originalName overview__originalName--character">
              {{ element.release_date || element.first_air_date | date }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="container">
        <p class="comments__amount">{{ commentsAmount }} comments</p>
        <div *ngFor="let comment of commentsArray" class="comments__comment">
          <span class="comments__name">{{ comment.userName }}</span>
          <span class="comments__date">{{
            comment.date | date: 'MMM d, y, h:mm:ss a'
          }}</span>
          <p class="comments__text">{{ comment.text }}</p>
          <button
            class="comments__delete"
            *ngIf="comment.userName === (currentUser$ | async)"
            (click)="deleteComment(comment._id)"
          >
            delete comment
          </button>
        </div>
        <div class="comments__leave">
          <textarea
            [(ngModel)]="comment"
            [placeholder]="
              (checkedIn$ | async)
                ? 'leave a comment'
                : 'I am waiting for your registration :)'
            "
            class="comments__tap"
            [disabled]="!(checkedIn$ | async)"
            [title]="
              !(checkedIn$ | async)
                ? 'please, register in order to leave a comment'
                : 'leave a comment'
            "
          ></textarea>
          <button
            class="comments__submit"
            [disabled]="!(checkedIn$ | async) || comment.length < 10"
            [title]="
              !(checkedIn$ | async) || comment.length < 10
                ? 'please, register or type at least 10 characters in order to leave a comment'
                : 'leave a comment'
            "
            (click)="leaveComment()"
          >
            submit
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-trailer *ngIf="modal" [@item]></app-trailer>
