@media screen and (max-width: 1350px) {
  .progressBar--media--serAir {
    top: 53%;
  }
}

@media screen and (max-width: 1096px) {
  .progressBar--media--serAir {
    top: 46%;
  }
}

@media screen and (max-width: 510px) {
  .progressBar--media--serAir {
    top: 52%;
  }
}

@media screen and (max-width: 370px) {
  .progressBar--media--serAir {
    top: 59%;
  }
}
