<div class="found__nav">
  <div
    *ngIf="this.findService.movieArr.length !== 0"
    class="found__tab"
    [routerLink]="['/found', 'movies', 'page', 1]"
    [ngClass]="{'found__tab--active': this.findService.movieFlag}"
  >
    movies<span class="found__movieCount">{{
      findService.movieArr.length
    }}</span>
  </div>
  <div
    *ngIf="this.findService.seriesArr.length !== 0"
    class="found__tab"
    [routerLink]="['/found', 'series', 'page', 1]"
    [ngClass]="{'found__tab--active': this.findService.seriesFlag}"
  >
    series<span class="found__seriesCount">{{
      findService.seriesArr.length
    }}</span>
  </div>
  <div
    *ngIf="this.findService.peopleArr.length !== 0"
    class="found__tab"
    [routerLink]="['/found', 'people', 'page', 1]"
    [ngClass]="{'found__tab--active': this.findService.peopleFlag}"
  >
    persons<span class="found__personCount">{{
      findService.peopleArr.length
    }}</span>
  </div>
</div>
