@media screen and (max-width: 1350px) {
  .progressBar--media--movTrend {
    top: 56%;
  }
}

@media screen and (max-width: 1024px) {
  .progressBar--media--movTrend {
    top: 50%;
  }
}

@media screen and (max-width: 510px) {
  .progressBar--media--movTrend {
    top: 57%;
  }
}

@media screen and (max-width: 400px) {
  .progressBar--media--movTrend {
    top: 52%;
  }
}

@media screen and (max-width: 370px) {
  .progressBar--media--movTrend {
    top: 61%;
  }
}
