<form class="container signUp" [formGroup]="form">
  <div class="signUp__block">
    <div class="signUp__label">Username</div>
    <input
      class="signUp__input"
      type="text"
      [(ngModel)]="userName"
      formControlName="name"
    />
    <p
      class="signUp__empty"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      username must have at least 4 characters
    </p>
  </div>
  <div class="signUp__block">
    <div class="signUp__label">Password</div>
    <input
      class="signUp__input"
      type="password"
      [(ngModel)]="password"
      formControlName="password"
    />
    <p
      class="signUp__empty"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      password must have at least 8 characters
    </p>
  </div>
  <p style="padding-top: 0.5em; color: #c6232d; font-size: 17px; align-self: flex-start">
    {{errorMessage}}
  </p>
  <button class="signUp__btn" (click)="submit()" [disabled]="form.invalid">
    Log In
  </button>
</form>
